<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
     
      <form action="/auth/upload" id="Upload" method="POST" enctype="multipart/form-data">

        <input type="text" name="description" placeholder="Meme Description...">
        <br>
        <input type="file" id="description"name="photo" class="btn btn-primary my-2">
        <br>
        <input type="submit" value="Upload" class="btn btn-primary my-2"> 
      </form>
    </div>
  </section>
  {{#each memes}}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
            <p class="card-text"><a href="/user/{{_owner._id}}">{{_owner.username}}</a></p>              
            <img src="{{path}}" class="img-fluid"  width="100%" height="225"/>        
              <p class="card-text">{{description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/comment/{{_id}}" method="POST">
                    <input type="text" placeholder="Enter your comment..." id="comment" name="comment">
                    <input type="submit" value="Comment" class="btn btn-sm btn-outline-secondary">                
                  </form>
                  <a href="/like/{{_id}}" class="btn btn-sm btn-outline-secondary">{{_likes.length}} Likes</a>
                  <a href="/favourite/{{_id}}" class="btn btn-sm btn-outline-secondary">{{_favorites.length}} Favourite</a>
                  <ul>
                  {{#each _comments}}
                    <li>{{_commentOwner.username}}: {{text}}</li>
                  {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  {{/each}}

</main>




