<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
     
      <form action="/auth/upload" id="Upload" method="POST" enctype="multipart/form-data">
       
        <input id="Meme-Name" type="text" name="name" placeholder="Name of Meme...">
        <br>
        <input type="text" name="description" placeholder="Meme Description...">
        <br>
          <input type="file" id="description"name="photo" class="btn btn-primary my-2">
         <br>
         <input type="submit" value="Upload" class="btn btn-primary my-2"> 
      </form>
    </div>
  </section>

  {{#each memes}}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <p class="card-text"><a href="/user/{{_owner._id}}">{{_owner.username}}</a></p>              
            <img src="{{path}}" class="img-fluid"  width="100%" height="225"/>
            <div class="card-body">
              <p class="card-text">{{name}}</p>              
              <p class="card-text">{{description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/like/{{_id}}" class="btn btn-sm btn-outline-secondary">Like</a>
                  <a href="/favourite" class="btn btn-sm btn-outline-secondary">Favourite</a>
                  <a href="/comment" class="btn btn-sm btn-outline-secondary">Comment</a>                  
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  {{/each}}

</main>




